p a {
  font-weight: normal;
}

.curriculumAccess {
  font-size: 12px;
  color: white;
}

.card {
  border-radius: 15px;
}

.card-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.curriculumTitle {
  margin-bottom: 50px;
}

.acessarCurriculo {
  margin-top: 20px;
}

.pagination {
  margin-top: 25px;
}

.pagination li.active {
  background-color: #9c27b0;
}

.buttonCards {
  color: white;
  font-size: 14px;
}
