form{
    margin: 60px 40px 60px 40px;
}

.card{
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 50px #4747473b;
}

label{
    font-size: 15px;
    font-weight: bold;
}

input#exampleInputEmail1, #exampleInputPassword1, #exampleInputUser{
    border-style: none;
    border-radius: 500px;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 18px;
}

button#entrar, #cadastrar{
    width: 100%;
    border-radius: 500px;
    border: none;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 2px #474747;
    font-weight: bold;
}

button#entrar:hover{
    background-color: rgb(243, 243, 243);
}

button#entrar:active{
    background-color: rgb(221, 221, 221);
}