@import url("https://fonts.googleapis.com/css?family=Oswald:200");

.titleForm {
  margin-top: 60px;
}

.titleConfigs {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: rgb(29, 29, 29);
  box-shadow: 1px 1px 14px #00000010;
  font-family: "Oswald", sans-serif;
}

.subtitle {
  color: rgb(88, 88, 88);
  margin-bottom: 30px;
  margin-top: 10px;
}

.formSettings {
  margin-top: 30px;
}

table {
  font-size: 13px;
  margin-bottom: 30px;
  margin-top: -16px;
}

p {
  font-weight: bold;
  color: #9e9e9e;
  font-size: 1rem;
}
