@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

form {
  padding: 25px;
  border-radius: 20px;
}

.collapsible-body {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.collapsible-header {
  padding: 13px;
}

.collapsible.popout > li {
  box-shadow: none;
}

.collapsible.popout > li.active {
  box-shadow: none;
}

.collapsible-header.entrar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.collapsible-header.cadastrar {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.1s;
}

li.active > .collapsible-header.cadastrar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.1s;
}

label {
  font-size: 15px;
  font-weight: bold;
}

.collap {
  margin-top: 100px;
  border-radius: 20px;
}

body {
  background-image: url("../../images/bg.jpg");
}

.brand-logo {
  font-family: "Oswald", sans-serif;
}

h6,
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 13px;
}
