form {
  padding: 25px;
  border-radius: 20px;
}

.collapsible-body{
  background-color: white;
}

label {
  font-size: 15px;
  font-weight: bold;
}

.collap {
  margin-top: 100px;
}

body{
  background-color: rgb(233, 233, 233);
}

